---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<footer>
	<p>{new Date().getFullYear()} Castlesage™.</p>
	<p>
		Special thanks to Kristie Mill & <a
			href="https://github.com/theroyalwhee0">Adam Mill</a
		> for their support.
	</p>
</footer>
